/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

@theme {
--color-clay: #B96E5C;
    --color-terracotta: #D88C6D;
    --color-honey: #E7B960;
    --color-pink: #EAC5C1;
    --color-linen: #F4EFEA;
    --color-anthracite: #2F2F2F;
    --color-sage: #A3B18A;
    --color-cocoa: #5E3B2C;
    --color-eggshell: #F9F6F1;
    --color-milkoat: #F1E8DD;
 
  --font-dancing: 'Dancing Script', cursive;
  --font-nunito: 'Nunito', sans-serif;
  --font-ui: 'Montserrat', sans-serif;
  --font-comfortaa: 'Comfortaa', cursive;
}

html{
  @apply font-ui;  
  scroll-behavior: smooth;
}

/* Negative Space */
.container-base {
  @apply mx-auto px-8 sm:px-20 lg:max-w-3/4 2xl:max-w-[1250px] py-16 sm:pt-16 sm:pb-36;
}

#navbar {
  @apply py-4 text-lg text-cocoa;
  
}

/* Utility */
.soft-border {
  @apply rounded-2xl shadow;
}

/* Typography */
h2 {
  @apply text-5xl font-comfortaa tracking-wide font-[700] text-clay pt-16 pb-4;
  /* dwa kolory: cocoa i clay */
}

h3 {
    @apply text-3xl font-comfortaa tracking-wide font-[600] text-clay text-center py-16; 
}

h4 {
    @apply text-2xl font-comfortaa tracking-wide font-[600] text-terracotta text-center py-8;
}

.content {
  @apply font-nunito text-xl text-justify text-base text-anthracite leading-8 mt-4;  
}

.content-intro {
  @apply font-nunito text-2xl italic text-justify text-cocoa leading-8 mt-4 px-12;
}

.subtitle {
  @apply text-2xl text-cocoa font-dancing;
}

.text-link {
  @apply text-sage underline underline-offset-4 hover:text-clay;

}

.text-handwritten {
    @apply text-4xl font-dancing text-clay;   
}

/* warsztaty */
.workshop-card {
@apply p-6 rounded-2xl shadow flex flex-col justify-items-center;
}

.workshop-card-img {
  @apply rounded-2xl shadow flex flex-col justify-items-center;
}

.workshop-img {
  @apply overflow-hidden rounded-2xl shadow h-96 max-h-96 xl:max-h-[480px] xl:h-full w-full object-cover;
}

.workshop-title {
  @apply text-2xl font-comfortaa text-cocoa/70 normal-case mb-2 py-4 tracking-normal text-left;
}

.workshop-time {
@apply text-sm font-comfortaa uppercase bg-cocoa/50 inline p-2 text-eggshell;
}

.workshop-text {
  @apply mt-12 mb-4;
}

/* galeria */
.gallery-img {
  max-width: 260px;
  height: 260px;
  overflow: hidden;
  object-fit: cover;
}

.gallery-wrapper {
  display: flex;
  justify-content: center;
  gap: 36px;
  flex-direction: row;
  flex-wrap: wrap;

}

/* pracownia */
.showcase-container {
  @apply flex flex-col md:flex-row gap-8 items-center md:justify-center py-8; 
}
.showcase-img {
  @apply overflow-hidden rounded-2xl h-[220px] w-4/5 md:w-[220px] object-cover;
}

.showcase-thumbnail {
   @apply h-[220px] w-full object-cover;
}

